[Unit]
Description=NovaUnlock FaceLock System Authentication & Greeter Service
After=local-fs.target network.target
Before=display-manager.service
Alias=nova-facelock.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/nova_facelock_service.sh start
ExecStop=/usr/local/bin/nova_facelock_service.sh stop
ExecReload=/usr/local/bin/nova_facelock_service.sh restart

[Install]
WantedBy=multi-user.target
